@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Projeto Final Web construído com ASP.NET Core.</p>
    <p>Veja a documentação para começar: <a href="https://docs.microsoft.com/aspnet/core">Documentação do ASP.NET Core</a>.</p>
</div>
